{% extends 'pig/base.html' %}

{% block title %}
      Album Details
{% endblock %}

{% block body %}
    <img src="{{ album.album_logo.url }}" >

    <h1>{{ album.album_title }}</h1>
    <h3>{{ album.artist }}</h3>

    {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
    {% endif %}

    <form action="{% url 'pig:detail' album.id %}" method="post">
        {% csrf_token %}
        {% for song in album.song_set.all %}
            <input type="radio" id="song{{ forloop.counter }}" name="song" value="{{ song.id }}">
            <label for="song{{ forloop.counter }}">
                {{ song.song_title }}
                {% if song.is_favorite %}
                    <img src="https://cdn0.iconfinder.com/data/icons/IS_Christmas/512/christmas_star.png">
                {% endif %}
            </label>
            <br>
        {% endfor %}
        <input type="submit" value="Favorite">
    </form>
{% endblock %}